.nav {
    display: flex;
    justify-content: space-between;
}
.navbar-container {
    background: #0e1528;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; 
    line-height: 50px; 
}
.navbar-container .navbar-logo {
    float: left;
    height: 40px;
    margin-right: 20px;
    color: #fff;
    font-family: Raleway, sans-serif;
}
.item-navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.item-navbar span {
    color: #facc15;
}
.item-navbar li {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}
.item-navbar li a {
    display: block;
    font-family: Raleway, sans-serif;
    color: #fff;
    text-decoration: none; 
    padding: 10px;
    cursor: pointer;
}